{% extends 'index.html' %}
{% block title %} Branches {% endblock %}
{% block content %}
{% if user.is_authenticated and user.profile.user_type == "teacher" %} 
<div class="card-views row">
{% for branch in Branches %}
    <div class="card text-center text-dark bg-light col-md-3 col-sm-5 shadow p-3 mb-5 mx-1 px-4">
        <div class="card-body">
            <h5 class="card-title mb-5">{{branch.name}}</h5>
            <a href="{% url 'classes:semester_list' slug=branch.slug %}" class="btn btn-primary">Show Semester List</a>
        </div>
    </div>
{%endfor%}
</div>
{% else %}
<script>
    alert("You are not authorised")
    window.location.replace("{% url 'index' %}");
</script>
{% endif %}
{% endblock %}