{% extends 'index.html' %}
{% block title %} Create {% endblock %}
{% load crispy_forms_tags %}
{% block content %} 
{% if user.is_authenticated and user.profile.user_type == "teacher" %} 
<form method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" name="" value="submit" class="form-control btn btn-info mt-4">
</form>
{% else %}
<script>
    alert("You are not authorised")
    window.location.replace("{% url 'index' %}");
</script>
{% endif %}
{% endblock %}