{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Live Class | Takshashila</title>
    <link rel="stylesheet" href="{% static 'css/room2.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>      
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      const ROOM_ID = window.location.pathname.split('/')[2]
      const username = '{{ user.username }}'
    </script>
</head>
<body>
{% if user.is_authenticated %}
  <div class="main">
    <div class="mainLeft">
      <div class="mainVideos">
        <div id="videoGrid"> </div>
      </div>
      <div class="mainControls">
        <div class="mainControlsBlock">
          <div class="mainControlsButton mainMuteButton">
            <button id="mute-btn" class="no-button">
              <i class="fas fa-microphone"></i>
              <span>Mute</span>
            </button>
          </div>
          <div class="mainControlsButton mainVideoButton">
            <button id="video-btn" class="no-button">
              <i class="fas fa-video"></i>
              <span>Stop Video</span>
            </button>
          </div>
        </div>

        <div class="mainControlsBlock">
         <div class="mainControlsButton">
          <button id="chat-btn" class="no-button">
            <i class="fas fa-comment-alt"></i>
            <span>Chat</span>
          </button>
         </div>
        </div>

        <div class="mainControlsBlock">
          <div class="mainControlsButtonEndMeeting">
            <button class="no-button" id="endnow">
                <span class="leaveMeeting">End</span>
            </button>
          </div>
       </div>

      </div>

    </div>
    <div class="mainRight">
      <div class="mainHeader">
        <h6>Chat</h6>
      </div>
      <div class="mainChatWindow">
        {% comment %} <ul class="messagesContainer">
        </ul> {% endcomment %}
     </div>
     <div class="mainMessageContainer">
        <input id="msg-input" type="text" placeholder="Type message here...">
     </div>
    
    </div>
</div>
{% else %}
<script>
    alert("You are not authorised")
    window.location.replace("{% url 'index' %}");
</script>
{% endif %}
</body>
<script src="{% static 'js/room2.js' %}"></script>

</html>